body {
    text-align: center;
    background: aliceblue;
    
}

.day-div {
    text-align: center;
    display: inline-block;
    border: 1px solid green;
    width: 13.5%;
    padding: 0%;
    margin: .2%;
}

.day-label {
    margin: 0px;
    background-color: lightcoral;
}

.day-inner-div {
    margin: 0px;
    background-color: lightblue;
    height: 100px;
}


.formInput{
    background: aliceblue;
    margin: 1%;
}

#calendar {
    border-radius: 10px;
    margin: 2%;
}

#logButton{
    padding: 1%;
}

#form {
    font-family: monospace;
    width: 70%;
    margin-left: 15%;
}

#ridingForm{
    background: lightgray;
    border: solid;
    border-color: cornflowerblue;
    margin-bottom: 2%;
}

#purchaseForm{
    background: lightgray;
    border: solid;
    border-color: cornflowerblue;
    margin-bottom: 2%;
}

#futureForm{
    background: lightgray;
    border: solid;
    border-color: cornflowerblue;
    margin-bottom: 2%;
}

#head-wrapper {

}

#lastMonth {

}

#nextMonth {

}

#title {

}